{% extends "base.html" %}

{% block title %}
    Список событий
{% endblock title %}

{% block content %}
    
    {% if messages %}
        {% for message in messages %}
            <div>
                <p> {{ message }} </p>
            </div>
        {% endfor %}
    {% endif %}
        
    <div class='wrapper'>
        {% for event in events %}
            <div>
                <p>Событие {{ event.title }} </p>
                <p>Содержание {{ event.content }} </p>
                <p>Дата {{ event.event_date }} </p>
                <p>Email {{ event.email }} </p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}